.container{
	height: 500px;
	box-shadow: 2px 2px 2px 2px #77a6c3;
	padding-top:50px;
	text-align:left;
}
.areadetexto{
	box-shadow: 2px 2px 2px 2px	#77a6c3;
	
}

#divbotoes{
	margin-top:40px;
	text-align:center;
}

.botoes{
	margin-left:20px;
	
}
